# Project: TMDb Movie Data Analysis

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> The TMDb movie dataset contains information of over 10,00 movies collected from a database known as **The Movie Database (TMDB)**. 

> The dataset contains 21 columns which are as follows; 
- id: number to identify the movie
- imdb_id: identification number of the movie on TMDb database
- popularity: ranking of how popular the movie is
- revenue: income generated from the movie
- budget: income or expenditure used in the production of the movie
- original_title: the title of the movie
- cast:the actors who played in the movie
- homepage: a webpage that leads you to the movie
- director: the directors of the movie
- tagline: a short text that gives insight into the movie
- keywords: words that describe objects or things that you will find in the movie.
- overview: a brief overview of what the movie is about
- runtime: the duration of the movie
- genres: describes the category of the movie
- production_companies: the companies that were in charge of production of the movies
- release_date: the date the movie was officially released to the public for viewing
- vote_count: how many votes the movie received
- vote_average: the average of the votes received by the movie
- release_year: the year in which the movie was released
- budget_adj: adjusted budget of the movie according to the 2010 dollars
- revenue_adj: adjusted revenue of the movie according to the 2010 dollars



### Question for Analysis
> **1**. What are the top 5 production companies with the highest revenue and budget, and their corresponding release years?

In [4]:
# import statements for all of the packages that i will use for my analysis
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt


# magic word so that my visualizations are plotted in the notebook
% matplotlib inline

UsageError: Line magic function `%` not found.

I start by importing all the necessary packages that i will need for my analysis, and also make sure that my visualizations will be visible in my notebook.

In [5]:
# Upgrade pandas to use dataframe.explode() function. 
#!pip install --upgrade pandas==0.25.0

After upgrading the pandas package, i restarted the kernel so as to use the new version of the pandas (0.25.0) for the rest of the analysis.

<a id='wrangling'></a>
## Data Wrangling

### General Properties
Before loading my data for this step, i had to first upload it in the same working directory as my notebook that i am using for analysis. After loading it, i printed a few of the first rows to get an insight into the columns and the type of data i will be working with.

In [6]:
# reading the dataset from the csv file using pandas inbuilt function of pd.read_csv
data_frame = pd.read_csv('tmdb-movies.csv')
data_frame.head()

FileNotFoundError: [Errno 2] No such file or directory: 'tmdb-movies.csv'

In order to inspect my dataset, i am going to define a function that will help me in this operation.

In [ ]:
def dataset_inspection(df):
    print('Dimensions of the dataset',df.shape)
    print('Duplicated rows',sum(df.duplicated()))
    print('Null values',df.isnull().sum())

In [ ]:
dataset_inspection(data_frame)

From the above results, i can deduce the following;
- My dataset has 10866 columns and 21 rows.
- It has 1 duplicated row.
- It has null values in these columns; imdb_id, cast, homepage, director, tagline, keywords, overview, generes,and  production_companies. These null values will need to be cleaned during the cleaning stage.

In [ ]:
data_frame.describe()

The above descriptive statistics for each column of my dataset indicate that there might be some rows in budget and revenue which have zero values which might not be true. This also shows me some of the things that i will have to clean during the data cleaning stage.

In [ ]:
data_frame.info()

The above summary of my dataset indicates the datatypes of the columns which are int, string, and float. 
It summarises showing there exists 4 - float, 6 - int and 11 - object columns


### Data Cleaning

In [ ]:
sum(data_frame.duplicated())

The output above confirms what i had seen from my function in code cell **4**. I will go ahead to drop this duplicated row in the following cell and include a statement that will ensure these changes are made to my original dataset.

In [ ]:
data_frame.drop_duplicates(inplace = True)
# Check duplicates again
sum(data_frame.duplicated())

From the above code, i can now confirm that the duplicated row was dropped.

In [ ]:
clean_df = data_frame.drop(['id', 'imdb_id', 'original_title', 'cast','genres', 'homepage', 'director', 'tagline', 'keywords', 'overview', 'runtime', 'vote_average', 'release_date'], axis=1, inplace=False)
clean_df.head()

Before i proceed with my analysis, i first dropped the columns that I will not need going forward with my analysis such as id, cast and homepage.

In [ ]:
clean_df.isnull().sum()

As observed from code cell **4**, production_companies has 1030 null values and I will need to drop them before proceeding with my analysis.

In [ ]:
non_null_df = clean_df.dropna(inplace = False)
non_null_df.isnull().sum()

In [ ]:
non_null_df.describe()

From the minimum budget and revenue, I can see that there are some zero entries which might not be true, therefore i will drop these rows as well.

In [ ]:
non_null_df = non_null_df[non_null_df['budget'] !=0]
non_null_df = non_null_df[non_null_df['revenue'] !=0]
non_null_df.describe()

I dropped the rows that contained zero values in budget and revenue using the above code referenced from here (https://stackoverflow.com/questions/27020312/drop-row-in-pandas-dataframe-if-any-value-in-the-row-equals-zero)

<a id='eda'></a>
## Exploratory Data Analysis

### Research Question: What are the top 5 production companies with the highest revenue and their corresponding release years?

In [ ]:
non_null_df.head()

From the dataset above, i can clearly see that one movie can have more than one production company and therefore i will need to split the cells that contain production companies to display them separately.

In [ ]:
non_null_df['production_companies'] = non_null_df['production_companies'].str.split('|')
non_null_df = non_null_df.apply(pd.Series.explode)
non_null_df.head()

The data in the production_companies column was a string, therefore i split them from where the different strings were separated by "|". I referenced the code from here (https://stackoverflow.com/questions/50731229/split-cell-into-multiple-rows-in-pandas-dataframe)

From the larger dataset df, i selected some columns that will help me in my further analysis and came up with this new dataframe df_production_companies.

In [ ]:
df_production_companies = non_null_df[['release_year', 'production_companies','revenue', 'budget']]
df_production_companies.head()

I used my `dataset_inspection` function to inspect this new dataset `df_production companies` that is a subset of df. I found 1 duplicate row and i dropped it in the following code cell.

In [ ]:
dataset_inspection(df_production_companies)

In [ ]:
df_production_companies = df_production_companies.drop_duplicates()
sum(df_production_companies.duplicated())

In order to find the top 5 production companies with the highest revenues and their corresponding release years, i grouped the dataset by `release_year` and `production_companies`, and sorted by the sum of the `revenue` in descending order.
Code used was found from here(https://stackoverflow.com/questions/61332326/sorting-in-pandas-groupby-with-two-columns).
Therefore, the top 5 production companies with the highest revenue each year are; Universal pictures, Dune Entertainment, Walt Disney Pictures, Twentieth Century Fox Film Corporation, and Columbia Pictures.

In [ ]:
df_production_companies.groupby(['release_year','production_companies'])['revenue'].sum().to_frame().sort_values('revenue', ascending = False)

In [ ]:
plt.scatter(df_production_companies['release_year'], df_production_companies['revenue']);

plt.title("Release year and revenue scatter plot ")
plt.xlabel('release year')
plt.ylabel('revenue')

From the above scatter plot of the correlation between release year and revenue, we can see that the revenue obtained by production companies started increasing from the 1990s, yet it was low below he 1990s.

In [ ]:
df_production_companies.groupby(['release_year','production_companies'])['budget'].sum().to_frame().sort_values('budget', ascending = False)

I also grouped the dataset by `release_year` and `production_companies`, and sorted by the sum of the budget in descending order. 
From the analysis above, we can also be able to see the production companies that had the highest budget when it came to the production of movies and these were `Warner Bros`, `Walt Disney Pictures`, `Relativity Media` and `Colombia pictures` among others.

In [ ]:
plt.scatter(df_production_companies['release_year'], df_production_companies['budget']);

plt.title("Release year and budget scatter plot ")
plt.xlabel('release year')
plt.ylabel('budget')

From the above scatter plot of correlation between `release year` and `budget`, we can see that the budget of production companies also started increasing from the `1990s` with a significant increase from `2000`.

In [ ]:
plt.figure(figsize=(10,5))
plt.hist(df_production_companies['budget'], bins = 30)
plt.title("Budget distribution by production companies ")
plt.xlabel('budget')
plt.ylabel('count')
plt.show()

From the above graph, we can see that the highest percentage of the `budget` used in the production of movies is below `100,000,000` dollars.

In [ ]:
plt.figure(figsize=(10,5))
plt.hist(df_production_companies['revenue'], bins= 30)
plt.title("Revenue distribution by production companies ")
plt.xlabel('revenue')
plt.ylabel('count')
plt.show()

From the above graph, we can see that the highest percentage of the `revenue` distribution obtained from the production of movies is below `50,000,000` dollars.

<a id='conclusions'></a>
## Conclusions
The following are the conclusions from the above analysis;
- The top 5 production companies with the highest revenue are; Universal pictures, Dune Entertainment, Walt Disney Pictures, Twentieth Century Fox Film Corporation, and Columbia Pictures.
- Some of the top production companies with the highest budgets are; Warner Bros, Walt Disney Pictures, and Realtivity Media.
- Warner Bros production company overall had the highest budgets over the years and it is among the top 10 in highest revenue production companies.
- The production company with the highest revenue released its movie in 2015, while that with the highest budget released its movie in 2006.
- The budget distribution range for majority of the production companies was between 0 and 100,000,000 dollars while the revenue distribution range was between 0 and 50,000,000 dollars.
- Over the years, production companies invested more in the production of movies, and the income generated from these movies increased as well from around 1900s.

**Limitation**
- Due to the presence of many null values and zeros in some columns, these rows were dropped which led to results which might not be a true representation of the dataset.